*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region color palette */
 :root{
    --bglight: rgba(180, 208, 231, 1);
    --seondarycolor: rgba(0, 97, 255, 1);
    --terziarycolor: rgba(97, 8, 43, 1);
    --bgsecondary:rgba(245, 245, 245, 1);
     --bgfinal:rgba(0, 0, 0, 1);
}
/* #endregion color palette */

/*#region utility */
.row::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}
/* 3 colonne */
.column{
    height: 800px;
    width: 25%;
    margin: 90px 60px;
}
/* colonna larga sotto le 3 colonne */
.large{
    height: 200px;
    width: 92%;
    margin: 0 50px;
}
/* riquadro img */
.imgcont{

    height: 100%;
    width: 50%;
    margin-left: 50px;

}
/* riquadro testo affianco all img */
.textcont{
    height: 100%;
    width: 35%;
    margin-left:100px;
}
/* griglia a 6 */
.grigl{
    
    height: 306px;
    width: 25%;
    margin: 70px 60px;
}
/* quadrato  */
.round{
    width: 25%;
    height: 400px;


}

.rettangolo{
    width: 48%;
    height: 400px;
    margin: 0px 1%;
}

.barra{
    width: 100%;
    height: 399px;
    margin-top: 10px;

}

/*#endregion utility */

/*#region site header */
.debug .site_header{
    background-color: crimson;
    height: 544px;
}

.debug .navbar{
  background-color: blue;
  height: 48px;
}

.debug .col-nav{
    background-color: chartreuse;
    height: 48px;
    width: 49.9%;
}

.debug .container{
    background-color: aqua;
    height: 496px;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

/* #endregion site header */
/*#region site main */

.debug .site_main{
    background-color: darkgreen;
    height: 4000px;
}

.debug .container_l{
    
    background-color: blue;
    height: 1200px;
    margin-top: 50px;
}

.container_l{

    width: 1440px;
    margin: 0 auto;

}/* section 1 */

.debug .col-main{
    background-color: darkorange;
}

.debug .container_sm{
background-color: rgb(255, 0, 0);
height: 400px;
}

.container_sm{

    width: 1440px;
    margin: 10px auto;
}
/* section2 */
.sectiontitle{
    height: 200px;
    background-color: black;
    width: 1440px;
    margin: 15px auto;
}
.debug .container-six{
    background-color: greenyellow;
    height: 900px;
    width: 1440px;
    margin: 15px auto;
    
}
/* section3 */
.containerlarge{
    background-color: bisque;
    height: 800px;
    width: 100%;
}

/*#endregion site main */

/*#region site footer */
.debug .site_footer{
    background-color: deeppink;
    height: 295px;
}

/*#endregion site footer */