/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1440px;
  font-family:'Open Sans', sans-serif;

}
a{
    text-decoration: none;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 38px;
    padding-bottom: 40px;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 0 20px;
}

header nav ul li>a{
    text-decoration: none;
    color: var(--dark);
    font-weight:600;
}
/* #endregion common */
/* #region color palette */
 :root{
    --lighter: rgb(255, 255, 255);
    --secondary: rgb(231, 180, 218);
    --primary: rgb(72, 255, 0);
    --accent: rgb(17, 8, 97);
    --light:rgba(245, 245, 245, 1);
     --dark:rgba(0, 0, 0, 1);
     --greenbg:rgb(174, 245, 153);
     --amarigllo:rgba(97, 8, 43, 1);;
     --azzurro:rgba(0, 147, 206, 1);;
     --red:rgb(255, 0, 0);
     --darkred:rgba(213, 0, 31, 1);
    --bludark: rgba(13, 36, 129, 1);
    --lithgrey: rgba(180, 208, 231, 1);
    --yellowb: rgba(255, 216, 48, 1);
    --bluelight:rgb(215, 229, 252);
    --grey:rgb(226, 222, 222);

}

.green_bg{
    background-color:var(--greenbg) ;
}
.amarigllo-bg{
    background-color: var(--amarigllo);
}

.azzurro-bg{
    background-color: var(--azzurro);
}

.red-bg{
    background-color: var(--red);
}

.darkred-bg{
    background-color: var(--darkred);
}
.litegrey-bg{
    background-color: var(--lithgrey);
}
.blue-bg{
    background-color: var(--bludark);
}
.yellow-bg{
    background-color: var(--yellowb);
}

.bluelight-bg{
    background-color: var(--bluelight);
}

.amarigllo-text{
    color: var(--amarigllo);
}
/* #endregion color palette */

/*#region utility */
.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}


/* bottoni */
.button{
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 7.5px 30px;

}


/* header  */
.logo{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}
.wrapperbig{
    position:relative;
    width: 1440px;
    margin: 0 auto;
}

.wrapper{
    position:relative;
    width: 1100px;
    margin: 0 auto;
}

.space{
    margin-bottom: 60px;
}

/*#endregion utility */

/*#region site header */
/* sezione dell header modifica */
#nav-bar{
    padding: 10px;
}
#nav-bar .fright{
    margin-top: 4px;
}
#jumbotron{
    position: relative;
    padding: 5% 5%;
    background-color: var(--secondary);
    background-image: url(https://i.blogs.es/483218/deadpool/840_560.jpeg);
    background-size: cover;
    height: 1000px;
}



.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content div{
   padding-right: 40px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 300px;
    width: 900px;
    padding: 30px 20px;
    margin-top: 10px;
    font-size: 12px;
    z-index: 1;
    
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #f1f1f1}
  


/*end sezione del header modifica */


/* #endregion site header */

/*#region site main */



/* 3 colonne */
.column{
    width: 30%;
    height: 900px;
    margin-top: 40px;
    border: 1px solid lightgrey;
}

.column img{
    width: 100%;
}

.center{
    margin-left: 5%;
    margin-right: 5%;
}




.hr{
    height: 1px;
    width: 20%;
    background-color: lightgrey;
    margin: 20px 0;
}


/* end modifica radio button */

/* start second main section contatti patner */
/* utility main */
#contact-partner,
#business-operation
{
    padding-top: 120px;
}
/* end utility main */
#contact-partner-img{
    width: 50%;
}
#contact-partner .text{
    width: 50%;
    padding: 40px 0px 40px 70px;
}
#contact-partner h2{
    font-size: 1.6em;
}
#contact-partner p{
    padding-bottom: 35px;
    line-height: 30px;
}
#contact-partner .button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS5obeA6uNSFJBa_-Sss1aZ5feaLXhDPNzhQ&usqp=CAU);
    background-size: contain;
    padding: 30px 100px;
    font-size: 20px;
    font-weight:900;
    
}

/* end second main section contatti patner */

/* start third main section operations */

#business-operation h1{
    font-size: 2.5rem;
}

#business-operation .column{
    height: fit-content;
    padding-bottom: 50px;
    border: none;
    object-fit: contain;
}

#business-operation.row .column:last-child{
    margin-right: 0;
}


#business-operation h3{
    font-size: 1.5em;
}
#business-operation img{
    object-fit: cover;
    object-position: center;
    width: 330px;
    height: 200px;
}


#business-operation p{
    padding-top: 20px;
    font-weight: 500;
}
/* end third main section operations */

/*#endregion site main */
/*#region site footer */

#footer-container{
    background-color: var(--dark);
    padding: 60px 0;
}
#footer-container .column{
    width: 20%;
    border: none;
    margin: 0;
    height: 200px;
    color: white;
}
#footer-container ul{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 50px;
}
#footer-container ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    line-height: 30px;
}
#footer-container hr{
    margin:80px 1000px 40px 0;
}

#footer-lang{
    color: white;
}

/*#endregion site footer */