/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1440px;
  font-family:'Open Sans', sans-serif;

}
a{
    text-decoration: none;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 38px;
    padding-bottom: 40px;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 0 20px;
}

header nav ul li>a{
    text-decoration: none;
    color: var(--dark);
    font-weight:600;
}
/* #endregion common */
/* #region color palette */
 :root{
    --lighter: rgb(255, 255, 255);
    --secondary: rgb(231, 180, 218);
    --primary: rgb(72, 255, 0);
    --accent: rgb(17, 8, 97);
    --light:rgba(245, 245, 245, 1);
     --dark:rgba(0, 0, 0, 1);
     --greenbg:rgb(174, 245, 153);
     --amarigllo:rgba(97, 8, 43, 1);;
     --azzurro:rgba(0, 147, 206, 1);;
     --red:rgb(255, 0, 0);
     --darkred:rgba(213, 0, 31, 1);
    --bludark: rgba(13, 36, 129, 1);
    --lithgrey: rgba(180, 208, 231, 1);
    --yellowb: rgba(255, 216, 48, 1);
    --bluelight:rgb(215, 229, 252);
    --grey:rgb(226, 222, 222);

}

.green_bg{
    background-color:var(--greenbg) ;
}
.amarigllo-bg{
    background-color: var(--amarigllo);
}

.azzurro-bg{
    background-color: var(--azzurro);
}

.red-bg{
    background-color: var(--red);
}

.darkred-bg{
    background-color: var(--darkred);
}
.litegrey-bg{
    background-color: var(--lithgrey);
}
.blue-bg{
    background-color: var(--bludark);
}
.yellow-bg{
    background-color: var(--yellowb);
}

.bluelight-bg{
    background-color: var(--bluelight);
}

.amarigllo-text{
    color: var(--amarigllo);
}
/* #endregion color palette */

/*#region utility */
.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.borderbott{
    border-bottom: 1px solid var(--grey);
}
.bordertop{
    border-top: 1px solid var(--grey);
}
/* bottoni */
.button{
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 7.5px 30px;

}
/* header  */
.logo{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}
.wrapperbig{
    position:relative;
    width: 1440px;
    margin: 0 auto;
}

.wrapper{
    position:relative;
    width: 1100px;
    margin: 0 auto;
}

.space{
    margin-bottom: 60px;
}

/*#endregion utility */

/*#region site header */
/* sezione dell header modifica */
#nav-bar{
    padding: 10px;
}
#nav-bar .fright{
    margin-top: 4px;
}
#jumbotron{
    position: relative;
    padding: 5% 5%;
    background-color: var(--secondary);
    background-image: url(https://i.blogs.es/483218/deadpool/840_560.jpeg);
    background-size: cover;
    height: 1000px;
}



.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content div{
   padding-right: 40px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 300px;
    width: 900px;
    padding: 30px 20px;
    margin-top: 10px;
    font-size: 12px;
    z-index: 1;
    
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #f1f1f1}
  


/*end sezione del header modifica */


/* #endregion site header */

/*#region site main */

#businessplan-sect{
    padding-top: 150px;
}


#businessplan-sect>.wrapper>h2{
    padding-bottom: 60px;
}


/* 3 colonne */
.column{
    width: 30%;
    height: 900px;
    margin-top: 40px;
    border: 1px solid lightgrey;
}

.column hr{
    width: 80px;
    margin: 60px 0;
}
.column img{
    width: 100%;
}

.center{
    margin-left: 5%;
    margin-right: 5%;
}

.column_header{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 40px;
}


.hr{
    height: 1px;
    width: 20%;
    background-color: lightgrey;
    margin: 20px 0;
}

.column-content{
    width: 100%;
    height: calc(100% - 40px);
    padding: 40px 30px ;

}

.column-content a{
    width: 100%;
    line-height:40px;
}

.column-header h4{
    
    font-weight: 600;
}

.column-content h5{
    margin: 15px 0 10px 0;
}

.column-content p >a{
    color: var(--primary) ;
}

.column-content ul{
    padding-top:20px;
    list-style: none;
}

.column-content li{
    padding-bottom: 25px;
    padding-left: 1.3em; 
    font-size: 0.9em;
}

.column-content .fas,
.column-content .far,
.column-content .fa-solid,
.column-content .fa-regular{
    margin-left: -1.3em;
}

.column-content .fa-check{
    color: var(--primary);
}
/* colonna larga sotto le 3 colonne */
.large{
    height: 250px;
    width: 100%;
    margin-top: 10px;
    margin-right: 3%;
}

.row-header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid lightgrey;
    margin-top: 80px;
}



.row-content{
    width: 100%;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 20px;
}

.row-content h5{
    padding: 30px 0;
}
/* modifica label*/
.radio-container {
    display: inline-block;
    position: relative;
    padding-right: 35px;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* modifica radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radiomark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .radiomark {
    background-color: #ccc;
}

.radio-container input:checked ~ .radiomark {
    background-color: var(--primary);
}
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container input:checked ~ .radiomark:after {
    display: block;
}
.radio-container .radiomark:after {
    top: 0.5em;
    left: 0.5em;
    transform: translate(-50%, -50%);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: white;
}

/* end modifica radio button */

/* start second main section contatti patner */
/* utility main */
#contact-partner,
#business-operation,
#team-users{
    padding-top: 120px;
}
/* end utility main */
#contact-partner-img{
    width: 50%;
}
#contact-partner .text{
    width: 50%;
    padding: 40px 0px 40px 70px;
}
#contact-partner h2{
    font-size: 1.6em;
}
#contact-partner p{
    padding-bottom: 35px;
    line-height: 30px;
}
#contact-partner .button{
    color: black;
    background-color: white;
    border: 1.5px solid black;
}

/* end second main section contatti patner */

/* start third main section operations */

#business-operation h1{
    font-size: 2.5rem;
}

#business-operation .column{
    height: fit-content;
    padding-bottom: 50px;
    border: none;
    object-fit: contain;
}

#business-operation.row .column:last-child{
    margin-right: 0;
}


#business-operation h3{
    font-size: 1.5em;
}
#business-operation img{
    object-fit: cover;
    object-position: center;
    width: 330px;
    height: 200px;
}


#business-operation p{
    padding-top: 20px;
    font-weight: 500;
}
/* end third main section operations */
/* start fourth main section team user  */
#team-users h2{
    display: block;
    width: 48%;
}
#team-users a{
  color: var(--primary);
}

#team-users .column{
    margin: 0;
    height: 456px;
    height: fit-content;
    border: none;
    
}

#team-users .column:nth-child(2){
    margin: 0 0 0 0;
    padding: 37.5px 50px;
    width: 40%;
    height: 456px;
    background-color: rgb(247, 247, 247);
}
#team-users .column:nth-child(2) p{
    padding-bottom: 25px;
} 
.svg_b{
    position: relative;
    width: 50%;
    height: 228px;
    padding: 50px;
}

.svg_b img{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:  invert(1);
    
}

#team-users div.bluelight-bg .wrapper{
    padding: 100px 80px;
}
#team-users .textx{
    width: 60%;
}
#team-users h2{
    display: block;
    width: 80%;
}
#team-users .button{
    text-decoration: none;
    color: var(--dark);
    background-color: var(--lighter);
}
/* end fourth main section */
/* start FAQ section */
#faq_section{
 padding: 80px 0;
 
}
#faq_section h4{
    padding: 60px 0;
    padding-right: 30px;

}

.accordian {
	width: 805px; height: 320px;
	overflow: hidden;
    display: none;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
.accordian li {
	position: relative;
	display: inline;
	width: 160px;
	float: left;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
}



.bordertop:hover .accordian{
    display: block;
}



.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
/* end FAQ section */

/*#endregion site main */
/*#region site footer */

#footer-container{
    background-color: var(--dark);
    padding: 60px 0;
}
#footer-container .column{
    width: 20%;
    border: none;
    margin: 0;
    height: 200px;
    color: white;
}
#footer-container ul{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 50px;
}
#footer-container ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    line-height: 30px;
}
#footer-container hr{
    margin:80px 1000px 40px 0;
}

#footer-lang{
    color: white;
}

/*#endregion site footer */